.container {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.bar-color {
  background-color: #466770;
}

.content {
  display: grid;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 768px;
  margin: 4rem auto 0 4rem;
  gap: 2rem;
}

