h2 {
  text-align: center;
}

.contact {
  width: 400px;
  height: max-content;
  background-color: #7B616C;
  border-radius: 0px 9px;
  padding: 2rem;
  color: #fff;
}

.education {
  width: 400px;
  height: max-content;
  border-radius: 9px 0px;
  background-color: #B47B6A;
  padding: 2rem;
  color: #fff;
}

.programming {
  width: 400px;
  height: max-content;
  border-radius: 9px 0px;
  background-color: #646E66;
  padding: 2rem;
  color: #fff;
}

.soft-skill {
  width: 400px;
  height: max-content;
  border-radius: 0px 9px;
  background-color: #67818B;
  padding: 2rem;
  color: #fff;
}